　/* team-colors.css */
:root {
  /* 読売ジャイアンツ */
  --giants-color: #F97709;   /* オレンジ */
  --giants-text: #000000;    /* 黒文字 */

  /* 阪神タイガース */
  --tigers-color: #FFE201;   /* 黄 */
  --tigers-text: #000000;    /* 黒文字 */

  /* 広島東洋カープ */
  --carp-color: #FF0000;     /* 赤 */
  --carp-text: #ffffff;      /* 白文字 */

  /* 横浜DeNAベイスターズ */
  --baystars-color: #003F8E; /* 紺 */
  --baystars-text: #0091E1;  /* 水色字 */

  /* 中日ドラゴンズ */
  --dragons-color: #002569;  /* 青 */
  --dragons-text: #ffffff;   /* 白文字 */

  /* 東京ヤクルトスワローズ */
  --swallows-color: #003D98; /* 青 */
  --swallows-text: #E50023;  /* 赤文字 */

  /* 福岡ソフトバンクホークス */
  --hawks-color: #FCC700;    /* 黄 */
  --hawks-text: #000000;     /* 黒文字 */

  /* 北海道日本ハムファイターズ */
  --fighters-color: #01609A; /* 青 */
  --fighters-text: #ffffff;  /* 白文字 */

  /* 千葉ロッテマリーンズ */
  --marines-color: #000000;  /* 黒色 */
  --marines-text: #C0C0C0;   /* 灰文字 */

  /* 埼玉西武ライオンズ */
  --lions-color: #051E46;    /* 濃紺 */
  --lions-text: #ffffff;     /* 白文字 */

  /* オリックス・バファローズ */
  --buffaloes-color: #12284B;/* 濃紺 */
  --buffaloes-text: #ffffff; /* 白文字 */

  /* 東北楽天ゴールデンイーグルス */
  --eagles-color: #870010;   /* 濃赤 */
  --eagles-text: #ffffff;    /* 白文字 */

  /* その他 */
  --others-color: #888888;   /* グレー */
  --others-text: #000000;    /* 黒文字 */
}




