/* team-colors.css */
:root {
  /* 読売ジャイアンツ */
  --giants-color: rgb(249, 119, 9);    /* オレンジ */
  --giants-text: rgb(0, 0, 0);         /* 黒文字 */

  /* 阪神タイガース */
  --tigers-color: rgb(255, 226, 1);    /* 黄 */
  --tigers-text: rgb(0, 0, 0);         /* 黒文字 */

  /* 広島東洋カープ */
  --carp-color: rgb(255, 0, 0);        /* 赤 */
  --carp-text: rgb(255, 255, 255);     /* 白文字 */

  /* 横浜DeNAベイスターズ */
  --baystars-color: rgb(0, 63, 142);   /* 紺 */
  --baystars-text: rgb(128, 200, 240);   /* 水色字 */

  /* 中日ドラゴンズ */
  --dragons-color: rgb(0, 37, 105);    /* 青 */
  --dragons-text: rgb(255, 255, 255);  /* 白文字 */

  /* 東京ヤクルトスワローズ */
  --swallows-color: rgb(0, 61, 152);   /* 青 */
  --swallows-text: rgb(229, 0, 35);    /* 赤文字 */

  /* 福岡ソフトバンクホークス */
  --hawks-color: rgb(252, 199, 0);     /* 黄 */
  --hawks-text: rgb(0, 0, 0);          /* 黒文字 */

  /* 北海道日本ハムファイターズ */
  --fighters-color: rgb(1, 96, 154);   /* 青 */
  --fighters-text: rgb(255, 255, 255); /* 白文字 */

  /* 千葉ロッテマリーンズ */
  --marines-color: rgb(0, 0, 0);       /* 黒色 */
  --marines-text: rgb(192, 192, 192);  /* 灰文字 */

  /* 埼玉西武ライオンズ */
  --lions-color: rgb(5, 30, 70);       /* 濃紺 */
  --lions-text: rgb(255, 255, 255);    /* 白文字 */

  /* オリックス・バファローズ */
  --buffaloes-color: rgb(18, 40, 75);  /* 濃紺 */
  --buffaloes-text: rgb(255, 255, 255);/* 白文字 */

  /* 東北楽天ゴールデンイーグルス */
  --eagles-color: rgb(135, 0, 16);     /* 濃赤 */
  --eagles-text: rgb(255, 255, 255);   /* 白文字 */

  /* その他 */
  --others-color: rgb(136, 136, 136);  /* グレー */
  --others-text: rgb(0, 0, 0);         /* 黒文字 */
}

